<img src="header.png" align="left"/>

# Anwendungsbeispiel Import of excel data and timeseries prediction



- [1]
- [2] [https://machinelearningmastery.com/time-series-prediction-lstm-recurrent-neural-networks-python-keras/](https://machinelearningmastery.com/time-series-prediction-lstm-recurrent-neural-networks-python-keras/)



Zitierung Datensatz:
```
Box, G. E. P., Jenkins, G. M. and Reinsel, G. C. (1976) Time Series Analysis, Forecasting and Control. Third Edition. Holden-Day. Series G.
```

# Import der Module

In [8]:
#
# Import der Module
#
import os
import openpyxl

import pandas as pd

In [9]:
#
# Abdrehen von Fehlermeldungen
#
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)
simplefilter(action='ignore', category=Warning)

In [10]:
#
# Für GPU Support
#
import tensorflow as tf
print ( tf.__version__ ) 

tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.ERROR )
physical_devices = tf.config.experimental.list_physical_devices('GPU')
if len(physical_devices) > 0:
    tf.config.experimental.set_memory_growth(physical_devices[0], True)
config = tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth = True
tf.compat.v1.keras.backend.set_session(tf.compat.v1.Session(config=config))

2.0.0

# Konstanten

In [11]:
#
# Konstanten für Dateien
#
excelData = 'data/airline_passengers.xlsx'

In [12]:
data = pd.ExcelFile(excelData)
print(data.sheet_names)

['Tabellenblatt1']

In [20]:
#
# Auslesen eines Tabellenblattes
#
df = data.parse('Tabellenblatt1')
df.info
df.head(10)

   Unnamed: 0           Unnamed: 1  Unnamed: 2
0         NaN                  NaN         NaN
1         NaN                  NaN         NaN
2         NaN                Month  Passengers
3         NaN  1949-01-01 00:00:00         112
4         NaN  1949-02-01 00:00:00         118
5         NaN  1949-03-01 00:00:00         132
6         NaN  1949-04-01 00:00:00         129
7         NaN  1949-05-01 00:00:00         121
8         NaN  1949-06-01 00:00:00         135
9         NaN  1949-07-01 00:00:00         148

In [21]:
df.tail()

     Unnamed: 0           Unnamed: 1 Unnamed: 2
142         NaN  1960-08-01 00:00:00        606
143         NaN  1960-09-01 00:00:00        508
144         NaN  1960-10-01 00:00:00        461
145         NaN  1960-11-01 00:00:00        390
146         NaN  1960-12-01 00:00:00        432

# Ausschneiden von Daten in pandas dataframes

Ein sehr gutes Tutorial dazu kann hier gefunden werden: [https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/](https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/)

In [22]:
#
# Ausschneiden der benötigten Daten
#
df_cut = df.iloc[3:146,1:3]

In [23]:
df_cut.head()

            Unnamed: 1 Unnamed: 2
3  1949-01-01 00:00:00        112
4  1949-02-01 00:00:00        118
5  1949-03-01 00:00:00        132
6  1949-04-01 00:00:00        129
7  1949-05-01 00:00:00        121

In [24]:
df_cut.columns = ['month','passengers']

In [25]:
df_cut.head()

                 month passengers
3  1949-01-01 00:00:00        112
4  1949-02-01 00:00:00        118
5  1949-03-01 00:00:00        132
6  1949-04-01 00:00:00        129
7  1949-05-01 00:00:00        121

In [26]:
df_cut['passengers'].plot()

ValueError: view limit minimum -35681.55 is less than 1 and is an invalid Matplotlib date value. This often happens if you pass a non-datetime value to an axis that has datetime units